/******* GENERELLE INDSTILLINGER *******/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700,700i&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

article {
    /*    border: 1px solid black;*/
    cursor: pointer;
}

img {
    object-fit: cover;
    max-width: 100%;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
}

/******* GENERELLE INDSTILLINGER SLUT *******/



/******* HEADER & FOOTER INDSTILLINGER *******/
header {
    margin-bottom: 75px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
}


footer {
    margin-top: 50px;
    width: 100%;
    height: 75px;
    text-align: center;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
}

/******* HEADER & FOOTER INDSTILLINGER SLUT *******/


/******* OVERSIGT INDSTILLINGER *******/
#oversigt {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#oversigt h2 {
    margin: 0;
}

#oversigt button {
    min-width: 50px;
    height: 25px;
    text-align: center;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: .9rem;
    transition: .3s;
    color: #333;
}

#oversigt button:hover,
#oversigt .valgt {
    background-color: #333;
    cursor: pointer;
    color: #fff;
}

#oversigt button:focus {
    outline: 0;
}

/******* OVERSIGT INDSTILLINGER SLUT *******/


/******* RETTER INDSTILLINGER *******/
#container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px 0 10px;
    max-height: 420px;
    transition: .3s;
}

article:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}



article p,
article h2,
article img {
    text-align: center;
    margin: 5px 0;
}

article p:last-child {
    padding-bottom: 25px;
}

/******* RETTER INDSTILLINGER SLUT *******/
